<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="de.fraunhofer.esk.openetcs.sysml2b.constraints.category"
            mandatory="false"
            name="SysML to B Transformation Constraints">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <description>
            Constraint Provider description.
         </description>
         <package
               namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML">
         </package>
         <constraints
               categories="de.fraunhofer.esk.openetcs.sysml2b.constraints.category">
            <constraint
                  class="de.fraunhofer.esk.openetcs.sysml2b.constraints.NameIsNoKeyword"
                  id="de.fraunhofer.esk.openetcs.sysml2b.constraints.NameIsNoKeyword"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="UML NamedElements do not use reserved Classical B keywords."
                  severity="ERROR"
                  statusCode="101">
               <message>
                  {0}
               </message>
               <description>
                  description body text
               </description>
               <target
                     class="uml.NamedElement">
               </target>
            </constraint>
            <constraint
                  class="de.fraunhofer.esk.openetcs.sysml2b.constraints.NameIsUnique"
                  id="de.fraunhofer.esk.openetcs.sysml2b.constraints.NameIsUnique"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="SysML Block names have to be unique"
                  severity="WARNING"
                  statusCode="102">
               <message>
                  {0}
               </message>
               <target
                     class="uml.Class">
               </target>
            </constraint>
            <constraint
                  class="de.fraunhofer.esk.openetcs.sysml2b.constraints.NameIsValid"
                  id="de.fraunhofer.esk.openetcs.sysml2b.constraints.NameIsValid"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Names must be valid Classical B identifier"
                  severity="ERROR"
                  statusCode="103">
               <message>
                  {0}
               </message>
               <target
                     class="uml.NamedElement">
               </target>
            </constraint>
            <constraint
                  class="de.fraunhofer.esk.openetcs.sysml2b.constraints.ParameterHasType"
                  id="de.fraunhofer.esk.openetcs.sysml2b.constraints.ParameterHasType"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="All UML Operation parameters have associated types."
                  severity="ERROR"
                  statusCode="104">
               <message>
                  {0}
               </message>
               <description>
                  All parameter of operation needs a type.
               </description>
               <target
                     class="uml.Parameter">
               </target>
            </constraint></constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <binding
            category="de.fraunhofer.esk.openetcs.sysml2b.constraints.category"
            context="org.eclipse.papyrus.uml.diagram.activityDefaultCtx">
      </binding>
      <binding
            category="de.fraunhofer.esk.openetcs.sysml2b.constraints.category"
            context="de.fraunhofer.esk.openetcs.sysml2b.transformation.context">
      </binding>
      <clientContext
            default="false"
            id="de.fraunhofer.esk.openetcs.sysml2b.transformation.context">
         <selector
               class="ValidationDelegateClientSelector">
         </selector>
      </clientContext>
   </extension>

</plugin>
